<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>CPPWeb | Principal</title>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="../dist/css/adminlte.min.css">
    <link rel="stylesheet" href="../plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="../plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">

    <style>
        .card {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    </style>

</head>

<body class="hold-transition sidebar-mini layout-fixed dark-mode">
    <div class="wrapper">

        <div class="sticky-top" th:insert="~{components/menu :: header}"></div>

        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1>Exemplo - Listar</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/home">Exemplo</a></li>
                                <li class="breadcrumb-item active">Listar</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <section class="content">
                <!-- Presença -->
                <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title" th:text="Presença"></h3>
                        <div class="card-tools">
                        </div>
                    </div>

                    <div class="card" th:each="nome : ${nomes}">
                        <div class="card-header border-transparent d-flex justify-content-between align-items-center">
                            <h3 class="card-title" th:text="${nome}"></h3>
                            <div >
                                <button class="btn btn-success btn-secundary ml-auto"
                                    onclick="mostraModalExemplo();">Ver
                                    Presença</button>
                                <button class="btn btn-success btn-secundary ml-auto"
                                    onclick="mostraModalExemplo();">Ver
                                    Pagamento</button>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12">
                            <div class="card-body">
                                <table id="tabela-presenca" class="table table-bordered table-striped">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>ID</th>
                                            <th>ID</th>
                                            <th>ID</th>
                                            <th>ID</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr th:each="presenca : ${presencas}">
                                            <td><span th:text="${presenca.id}"></span></td>
                                            <td><span th:text="${presenca.usuario.nome}"></span></td>
                                            <td><span th:text="${presenca.ano}"></span></td>
                                            <td><span th:text="${presenca.mes}"></span></td>
                                            <td><span th:text="${presenca.id}"></span></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>


        <div th:insert="~{components/footer :: footer}"></div>
    </div>

    <script src="../plugins/jquery/jquery.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="../plugins/pdfmake/pdfmake.min.js"></script>
    <script src="../plugins/pdfmake/vfs_fonts.js"></script>
    <script src="../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="../plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="../dist/js/adminlte.min.js"></script>
    <script src="../plugins/select2/js/select2.full.min.js"></script>

    <script th:inline="javascript">

        $(document).ready(() => {
            $('.select2').select2()

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })
        });

        function toggle() {
            const body = document.body;
            const sidebar = document.querySelector('.main-sidebar');
            const navbar = document.querySelector('.main-header.navbar');
            const icon = document.getElementById('icon');

            if (body.classList.contains('dark-mode')) {
                body.classList.remove('dark-mode');
                sidebar.classList.remove('sidebar-dark-primary');
                sidebar.classList.add('sidebar-light-primary');
                navbar.classList.remove('navbar-dark');
                navbar.classList.add('navbar-light');
                icon.classList.remove('fa-sun');
                icon.classList.add('fa-moon');
            } else {
                body.classList.add('dark-mode');
                sidebar.classList.remove('sidebar-light-primary');
                sidebar.classList.add('sidebar-dark-primary');
                navbar.classList.remove('navbar-light');
                navbar.classList.add('navbar-dark');
                icon.classList.remove('fa-moon');
                icon.classList.add('fa-sun');
            }
        }

        function redireciona(url) {
            window.location.href = url;
        }

    </script>
    <script th:inline="none">
        $("#tabela-presenca").DataTable({
            "responsive": true,
            "lengthChange": true,
            "autoWidth": false,
            "paging": true,
            "searching": true,
            "ordering": true,
            "order": [1, 'asc'],
            "info": true,
            "buttons": ["excel", "pdf", "print", "colvis"],
            "pageLength": 10,
            "lengthMenu": [[10, 25, 50, 100, -1], [10, 20, 50, 100, "Todos"]],
        }).buttons().container().appendTo('#tabela-presenca_wrapper .col-md-6:eq(0)');
    </script>
</body>

</html>