<!DOCTYPE html>
<html lang="pt-br" xmlns="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>VFC | Principal</title>

    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <link rel="stylesheet" href="../plugins/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="../plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <link rel="stylesheet" href="../dist/css/adminlte.min.css">
    <link rel="stylesheet" href="../plugins/overlayScrollbars/css/OverlayScrollbars.min.css">
    <link rel="stylesheet" href="../plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="../plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="../plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="../plugins/select2/css/select2.min.css">
    <link rel="stylesheet" href="../plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

    <style>

        .card {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        .datepicker table tr td span.focused,
        .datepicker table tr td span:hover {
            background: #74727286;
        }

        .datepicker .datepicker-switch:hover,
        .datepicker .next:hover,
        .datepicker .prev:hover,
        .datepicker tfoot tr th:hover {
            background: #74727286;
        }

        .datepicker table tr td.day.focused,
        .datepicker table tr td.day:hover {
            background: #74727286;
            cursor: pointer;
        }
    </style>

</head>

<body class="hold-transition sidebar-mini layout-fixed dark-mode">
    <div class="wrapper">

        <div class="sticky-top" th:insert="~{components/menu :: header}"></div>

        <div class="content-wrapper">
            <section class="content-header">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-6">
                            <h1>Exemplo - Listar</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a href="/home">Exemplo</a></li>
                                <li class="breadcrumb-item active">Listar</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </section>
            <section class="content">
                <!-- Presença -->
                <div class="card">
                    <div class="card-header border-transparent">
                        <h3 class="card-title" th:text="Presença"></h3>
                        <div class="card-tools">
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header border-transparent align-items-center">
                            <div class="row">
                                <div class="col col-md-6 col-sm-12 d-flex justify-content-start">
                                    <h3 class="card-title badge badge-gradient-secondary m-1"
                                        th:text="${usuario.nome} + ' ' + ${usuario.sobrenome}"></h3>
                                </div>
                                <div class="col col-md-6 col-sm-12 d-flex justify-content-end">
                                    <button class="btn bg-gradient-success m-1 text-nowrap"
                                        onclick="mostraModalPresenca();">Nova
                                        Presença</button>
                                    <button class="btn bg-gradient-info m-1" onclick="mostraModalMotivo(true);"
                                        th:if="${usuario.ativo == false}">Ativar</button>
                                    <button class="btn bg-gradient-danger m-1" onclick="mostraModalMotivo(false);"
                                        th:if="${usuario.ativo == true}">Inativar</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="card collapsed-card p-0" th:each="ano : ${anos}">
                                <div class="card-header border-transparent bg bg-gradient-success">
                                    <h3 class="card-title text-dark">
                                        <span th:each="listaAno : ${listaAnos}" th:if="${ano == listaAno.ano}">
                                            <span th:text="${ano} + ' Presente em ' + ${listaAno.conta}"></span>
                                        </span>
                                        <span th:each="contaAno : ${listaContagemAnos}"
                                            th:if="${ano == contaAno.anoReferencia}">
                                            <span th:text="'/ ' + ${contaAno.contagem}"></span>
                                        </span>
                                    </h3>
                                    <div class="card-tools">
                                        <button type="button" class="btn btn-tool text-dark"
                                            data-card-widget="collapse">
                                            <i class="fas fa-plus"></i>
                                        </button>
                                    </div>
                                </div>

                                <div class="card-body">
                                    <section class="col-sm-12">
                                        <div class="card p-0 collapsed-card" th:each="mes : ${enummeses}">
                                            <div class="card-header border-transparent bg bg-secundary">
                                                <h5 class="card-title text-dark">
                                                    <span th:each="listaMes : ${listaAnosMeses}"
                                                        th:if="${mes.getNumero() == listaMes.mes && ano == listaMes.ano}">
                                                        <span
                                                            th:text="${mes.name} + ' Presente em ' + ${listaMes.conta}"></span>
                                                    </span>
                                                    <span th:each="contaMes : ${listaContagemMeses}"
                                                        th:if="${mes.getNumero() == contaMes.mesReferencia && ano == contaMes.anoReferencia}">
                                                        <span th:text="'/ ' + ${contaMes.contagem}"></span>
                                                    </span>
                                                </h5>
                                                <div class="card-tools">
                                                    <button type="button" class="btn btn-tool"
                                                        data-card-widget="collapse">
                                                        <i class="fas fa-plus"></i>
                                                    </button>
                                                </div>
                                            </div>

                                            <div class="card-body">
                                                <div class="row p-3">
                                                    <div class="col-12">
                                                        <table
                                                            th:id="'tabela-presenca-' + ${ano} + '-' + ${mes.getNumero()}"
                                                            class="table table-bordered table-striped table-hover">
                                                            <Thead>
                                                                <tr>
                                                                    <th class="text-dark" style="width: 5%;">Data </th>
                                                                    <th class="text-dark">Observação</th>
                                                                </tr>
                                                            </Thead>
                                                            <tbody class="table-group-divider">
                                                                <tr th:each="presenca : ${presencas}">
                                                                    <td class="text-dark"
                                                                        th:if="${presenca.ano == ano && presenca.mes == mes.getNumero()}"
                                                                        th:text="${#dates.format(presenca.presenca, 'dd/MM/yyyy')}">
                                                                    </td>
                                                                    <td class="text-dark"
                                                                        th:if="${presenca.ano == ano && presenca.mes == mes.getNumero()}"
                                                                        th:text="${presenca.observacao}"></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- MODAL NOVA PRESENÇA -->
        <div class="modal fade" id="modal-nova-presenca" tabindex="-1" role="dialog" data-backdrop="static"
            aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header bg-gradient-success">
                        <h4 class="modal-title text-dark" style="font-weight: bolder;">Nova Presença</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="input-group mb-3">
                                    <span class="input-group-text fas fa-calendar" id="basic-addon1"></span>
                                    <input type="text" class="form-control datepicker text-dark" id="date"
                                        style="padding-left: 2%;" readonly>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="observacao">Observações</label>
                                    <textarea maxlength="255" id="observacao" name="observacao"
                                        class="form-control text-dark"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button onclick="salvarPresenca();" type="button" class="btn btn-success">Salvar</button>
                        <button onclick="escondeModalPresenca();" type="button"
                            class="btn btn-outline-dark">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL ATIVA/INATIVA -->
        <div class="modal fade" id="modal-motivo" tabindex="-1" role="dialog" data-backdrop="static" aria-hidden="true">
            <div class="modal-dialog modal-md">
                <div class="modal-content">
                    <div class="modal-header bg-gradient-success">
                        <h4 class="modal-title text-dark" style="font-weight: bolder;">Nova Presença</h4>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="txtmotivo">Justificativa</label>
                                    <textarea maxlength="255" id="txtmotivo" name="txtmotivo"
                                        class="form-control text-dark"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer justify-content-between">
                        <button onclick="salvarMotivo();" type="button" class="btn btn-success"
                            id="botao-motivo"></button>
                        <button onclick="escondeModalMotivo();" type="button"
                            class="btn btn-outline-dark">Cancelar</button>
                    </div>
                </div>
            </div>
        </div>

        <div th:insert="~{components/footer :: footer}"></div>
    </div>

    <script src="../plugins/jquery/jquery.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="../plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="../plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="../plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="../plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="../plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="../plugins/pdfmake/pdfmake.min.js"></script>
    <script src="../plugins/pdfmake/vfs_fonts.js"></script>
    <script src="../plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="../plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="../plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script src="../dist/js/adminlte.min.js"></script>
    <script src="../plugins/select2/js/select2.full.min.js"></script>
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    <script src="../plugins/inputmask/jquery.inputmask.min.js"></script>


    <script th:inline="javascript">
        let usuario = /*[[${usuario}]]*/[];
        let anos = /*[[${anos}]]*/[];
        let meses = /*[[${enummeses}]]*/[];
        let data = new Date();

        $(document).ready(() => {
            $('.select2').select2()

            $('.select2bs4').select2({
                theme: 'bootstrap4'
            })

            document.getElementById("date").value = formatDate(data, true);

            $('#date').inputmask({
                alias: 'datetime',
                inputFormat: 'dd/mm/yyyy',
                leapday: "29/02/",
                placeholder: '  /  /    '
            });
        });

        $(document).ready(function () {
            $('.datepicker').datepicker({
                format: 'dd/mm/yyyy',
                todayHighlight: true,
                autoclose: true
            });
        });

        async function salvarPresenca() {
            const presenca = {
                presenca: formatDate(document.getElementById("date").value, false),
                observacao: document.getElementById("observacao").value
            };

            try {
                escondeModalPresenca();
                const response = await fetch('/presenca/salvar-presenca/?id=' + usuario.id + '&idUsuario=' + 7, {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(presenca)
                });

                if (!response.ok) {
                    throw new Error('Network response was not ok, rigth?');
                }

                const result = await response.json();

                $(document).Toasts('create', {
                    class: 'bg-success',
                    title: 'Presença',
                    subtitle: 'sucesso',
                    body: 'Presença salva com sucesso.',
                    autohide: true,
                    delay: 3000,
                })
                setTimeout(() => {
                    window.location.reload();
                }, 3000);
            } catch (error) {
                $(document).Toasts('create', {
                    class: 'bg-danger',
                    title: 'Presença',
                    subtitle: 'erro',
                    body: 'Não foi possível salvar a presença.',
                    autohide: true,
                    delay: 10000,
                })
                console.error('Erro ao enviar dados:', error);
            }
        }

        function formatDate(date, formato) {
            let day;
            let month;
            let year;

            if (formato) {
                day = String(date.getDate()).padStart(2, '0');
                month = String(date.getMonth() + 1).padStart(2, '0');
                year = date.getFullYear();

                return day + '/' + month + '/' + year;
            } else {
                let split = date.split('/')

                day = split[0];
                month = split[1];
                year = split[2];

                return year + '-' + month + '-' + day;
            }

        }

        async function salvarMotivo() {
            let txtBotao = document.getElementById('botao-motivo').value;

            const log = {
                "justificativa": document.getElementById("txtmotivo").value,
                "pessoa": usuario.id,
                "usuario": 7, //pegar o id da session
                "status": txtBotao == 'Ativar' ? true : false
            };

            if (document.getElementById("txtmotivo").value == "") {
                $(document).Toasts('create', {
                    class: 'bg-warning',
                    title: 'Presença',
                    subtitle: 'alerta',
                    body: 'Justifique a ação de ' + txtBotao + '.',
                    autohide: true,
                    delay: 5000,
                })
                return;
            }

            try {
                escondeModalMotivo();
                const response = await fetch('/usuario/atualiza-atatus', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(log)
                });

                if (!response.ok) {
                    throw new Error('Network response was not ok');
                }

                const result = await response.json();

                setTimeout(() => {
                    $(document).Toasts('create', {
                        class: 'bg-success',
                        title: 'Presença',
                        subtitle: 'sucesso',
                        body: txtBotao + ' realizado com sucesso.',
                        autohide: true,
                        delay: 3000
                    })

                    window.location.reload();
                }, 1000);
            } catch (error) {
                $(document).Toasts('create', {
                    class: 'bg-danger',
                    title: 'Presença',
                    subtitle: 'erro',
                    body: 'Não foi possível  ' + txtBotao + '.',
                    autohide: true,
                    delay: 10000,
                })
                console.error('Erro ao enviar dados:', error);
            }
        }

        function limpaModalPresenca() {
            document.getElementById("date").value = formatDate(data, true);
            document.getElementById("observacao").value = "";
        }

        function limpaModalMotivo() {
            document.getElementById("txtmotivo").value = "";
        }

        function mostraModalPresenca() {
            $("#modal-nova-presenca").modal("show");
            setTimeout(() => {
                document.getElementById("observacao").focus();
            }, 500);
        }

        function escondeModalPresenca() {
            limpaModalPresenca();
            $("#modal-nova-presenca").modal("hide");
        }

        function mostraModalMotivo(motivo) {
            let btn = document.getElementById("botao-motivo")
            if (motivo) {
                btn.value = 'Ativar'
                btn.textContent = 'Ativar'
                btn.classList.remove('btn-danger')
                btn.classList.add('btn-success')
            } else {
                btn.value = 'Inativar'
                btn.textContent = 'Inativar'
                btn.classList.remove('btn-success')
                btn.classList.add('btn-danger')
            }
            $("#modal-motivo").modal("show");
            setTimeout(() => {
                document.getElementById("txtmotivo").focus()
            }, 500);
        }

        function escondeModalMotivo() {
            limpaModalMotivo();
            $("#modal-motivo").modal("hide");
        }

        document.addEventListener("DOMContentLoaded", function () {
            let collapsedCards = document.querySelectorAll('.collapsed-card');
            collapsedCards.forEach(function (card) {
                let span = card.querySelector('span span');
                if (span && span.textContent.trim().startsWith('/')) {
                    card.style.display = 'none';
                }
            });
        });

        function toggle() {
            const body = document.body;
            const sidebar = document.querySelector('.main-sidebar');
            const navbar = document.querySelector('.main-header.navbar');
            const icon = document.getElementById('icon');

            if (body.classList.contains('dark-mode')) {
                body.classList.remove('dark-mode');
                sidebar.classList.remove('sidebar-dark-primary');
                sidebar.classList.add('sidebar-light-primary');
                navbar.classList.remove('navbar-dark');
                navbar.classList.add('navbar-light');
                icon.classList.remove('fa-sun');
                icon.classList.add('fa-moon');
            } else {
                body.classList.add('dark-mode');
                sidebar.classList.remove('sidebar-light-primary');
                sidebar.classList.add('sidebar-dark-primary');
                navbar.classList.remove('navbar-light');
                navbar.classList.add('navbar-dark');
                icon.classList.remove('fa-moon');
                icon.classList.add('fa-sun');
            }
        }

        function redireciona(url) {
            window.location.href = url;
        }

    </script>
</body>

</html>